//- svg sprite insert
mixin svg(classes, anchor, title, desc, w, h)
	svg(class=classes width=w height=h)
		use(href="/img/svg/sprite.svg#" + anchor)
		if title
			title=title
		if desc
			desc=desc